<!DOCTYPE html>
<html>
  <head>
    <title>Volumeteer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <ul>
      <% if current_charity == nil then %>
      <li> <%= link_to "Charity Sign-up", new_charity_registration_path %> </li>
      <li> <%= link_to "Charity Log-in", new_charity_session_path %> </li>
      <% else %>
      <li> <%= link_to "Profile", charity_path(current_charity.id) %> </li>
      <%= link_to('Logout', destroy_charity_session_path, method: :delete) %>     
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
